name: 1st_workflow
on:
  workflow_dispatch:
  push:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Azure PowerShell Action
        uses: Azure/powershell@v2
        with: 
          terraform init
          
          
